
/*font-family: 'Berkshire Swash', cursive;*/
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');

/*font-family: 'Permanent Marker', cursive;*/
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

/*font-family: 'Roboto', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

//VARIABLES

//fonts

$primary-font: 'Berkshire Swash', cursive;
$secondary-font: 'Permanent Marker', cursive;
$tertiary-font: 'Roboto', sans-serif;


// colors:

$primary-color: #eead78;
$secondary-color: #fad8c2;
$tertiary-color: #ffffff;

//font color:

$primary-font-color: #fff;
$secondary-font-color: #c97a39;
$tertiary-font-color: #000;

//fonts src: google fonts:

