@import '_variables.scss' ;

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    position: relative;
    
}
//banner

.header{
    position: relative;
    top: 60px;
    z-index: 5;
}

//banner end

//navbar start

.navbar-expand-lg{
    background-color: $primary-color;
    position: fixed;
    width: 100%;
    z-index: 20;
    a{
        color: $primary-font-color;
        font-family: $tertiary-font;
    }
    .navbar-brand{
        font-family: $primary-font;
        font-weight: 50;
    } 
}

#cart-icon, .items-number{
    color: $primary-font-color;
}

.navbar-toggler{
    border: 1px solid $primary-font-color;  
}

.bx-menu {
    color: $primary-font-color;
}

// navbar end

//products section start

.products-section-heading{
    position: absolute;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
    color: $secondary-font-color;
    font-family: $primary-font;
}

#products-section{
    background-color: $secondary-color;
    position: relative;
    z-index: 15;
    top: 50px;
    padding-top: 250px;
    .card{
        padding: 10px;
        width: 16rem;
        .card-img-top{
            height: 320px;
        }
        .btn-primary{
            background-color: $primary-color;
            border: none;
        }
        
        #price-btn{
            background-color: $secondary-color;
        }
    }
}

//carousel section

.slick-carousel{
    position: relative;
    top: 150px;
    display: flex;
    .slick-carousel-item{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 350px;
        width: 450px; 
        transition: all 2s ease;
        img{
         height: 300px; 
         width: 350px;
        }
    }
    .slick-center{
        animation: change 2s ease;
    }
}

@keyframes change {
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.3);
    }
    70%{
        transform: scale(.7) ;
    }
    100%{
        transform: scale(1);
    }
}

.slick-arrow{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 20px;
    border: none;
    background-color: $primary-color;
    height: 80px;
    width: 80px;
    border-radius: 20%;
    color: $primary-font-color;
    &:hover{
        transform: scale(1.1);
    }
}

.carousel-heading{
    position: absolute;
    top: 10px;
}
//carousel section end

//contact section start
.contact-section{
    position: relative;
    background-color: $secondary-color;
    height: 40vh;
    font-family: $tertiary-font;
    color: $secondary-font-color;
    padding: 20px;
    top: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .form-container{
        width: 60%;
        .form-button{
            background-color: $primary-color;
            color:  $primary-font-color;
            border: none;
            width: 90px;
            height: 30px;
            border-radius: 10px;
            &:hover{
                transform: scale(1.1);
            }
        }
    }
}

//footer start

#footer{
    display: flex;
    align-items: center;
    position: relative;
    top: 200px;
    background-color: $primary-color;
    height: 60vh;
    text-align: center;
    a {
        color: $tertiary-font-color;
        font-family: $tertiary-font;
    }
}

.bxl-instagram-alt, .bxl-whatsapp, .bxl-facebook-circle{
    font-size: 3rem;
    color: $primary-font-color;
}


//media queries

@media(max-width: 580px ) {
    .card{
       left: 50%;
       transform: translateX(-50%);
    }
    
}

@media(max-width:450px ) {
    .slick-arrow{
        width: 30px;
        height: 30px;
        font-size: .5rem;
        border-radius: 50%;
    }

    .slick-carousel{
        height: 250px;
    }

    #products-section{
        top: 90px;
    }
    
}